language: go

go:
- '1.8'
- '1.9'
- '1.10'
- '1.11'
- '1.11.x'
- 'master'

# Skip the install step. Don't `go get` dependencies. Only build with the
# code in vendor/
install: true

matrix:
  # It's ok if our code fails on unstable development versions of Go.
  allow_failures:
  - go: master
  # Don't wait for tip tests to finish. Mark the test run green if the
  # tests pass on the stable versions of Go.
  fast_finish: true

notifications:
  email: false

before_script:
- go get -t ./...

# Note: scripts always run to completion
script:
- make validate
- make test
