#!/usr/bin/make -f

export DH_GOLANG_BUILDPKG=github.com/wagoodman/dive

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang

override_dh_auto_install:
	dh_auto_install -- --no-source
