name: Codespell

# Documentation:
# https://help.github.com/en/articles/workflow-syntax-for-github-actions

# Start the job on all push #
on:
  push:
  pull_request:
  workflow_dispatch:

#concurrency:
#  group: ${{ github.workflow }}
#  cancel-in-progress: true

permissions: read-all

# Set the Job #
jobs:
  build:
    name: Codespell
    # Set the agent to run on
    runs-on: ubuntu-latest

    # Load all steps #
    steps:
      # Checkout the code base #
      - name: Harden Runner
        uses: step-security/harden-runner@bdb12b622a910dfdc99a31fdfe6f45a16bc287a4 # v1
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: 
            github.com:443
          
      - name: Checkout Code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846 # v2.4.0
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0

      # Run Linter against code base #
      - name: Codespell
        uses: codespell-project/actions-codespell@2391250ab05295bddd51e36a8c6295edb6343b0e # master
        with:
          check_filenames: true
          ignore_words_file: .codespellignore
